{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Crop Predector!</title>
</head>
<!--____________________________________________________________________________________________________-->
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <a class="navbar-brand" href="/crop/home">Crop Predector!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/crop/home">Home <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item">
                  <a class="nav-link" href="/crop/contact">Contact</a> </li> </ul> </div> </nav>
    
   <!--____________________________________________________________________________________________________-->

    <div id="carouselExampleIndicators " class="carousel slide " style="margin-top: 3px; " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>  </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
           <!-- <img class="d-block w-100" src="https://source.unsplash.com/1600x300/?beach" alt="First slide"> -->
           <img class="d-block w-100" src="{% static '/img/sl3.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '/img/sl2.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '/img/sl1.jpg' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

   <!--____________________________________________________________________________________________________-->
  
   <div
     class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white "
     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');margin-top: 2px;"  >
    
      <h1 class="mb-5 h2">Crop Predictor</h1>
      <div style="width:40%; margin-left: 30%;">
      
        <form action="" method="POST">{% csrf_token %}
            <div class="form-group" style="text-align: left; font-size: larger;">
               <label for="ex1">Nitrogen level:</label>
               <input type="text" class="form-control" id="ex1" name="n" aria-describedby="emailHelp" placeholder="Nitrogen" required>
               <label for="ex2">Phosphorous Level:</label>
               <input type="text" class="form-control" id="ex2" name="pho" aria-describedby="emailHelp" placeholder="Phosphorous" required>
               <label for="ex3">Potassium Level:</label>
               <input type="text" class="form-control" id="ex3" name="pot" aria-describedby="emailHelp" placeholder="Potassium " required>
               <label for="ex4">Temperature in Cecius:</label>
               <input type="text" class="form-control" id="ex4" name="t" aria-describedby="emailHelp" placeholder="Temperature" required>
               <label for="ex5">Humidity in percentage:</label>
               <input type="text" class="form-control" id="ex5" name="h" aria-describedby="emailHelp" placeholder="Humidity" required>
               <label for="ex6">PH value :</label>
               <input type="text" class="form-control" id="ex6" name="ph" aria-describedby="emailHelp" placeholder="PH value" required>
               <label for="ex7">Rainfall rate (approx=200):</label>
               <input type="number" class="form-control" id="ex7" name="r" aria-describedby="emailHelp" placeholder="Rainfall" required>
 
            </div>
               <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        <br>

   <!--___________________________________________________________________________________________________ -->
   {% if status %}
            <br><br><br><br> <br>
        <div style="width:100%; border: 3px double rgb(0, 0, 0); padding: 10px; background: rgb(152, 175, 197 ,0.3);">
           <br> 
           <b><h2 style="text-align: center;color: rgb(255, 255, 255);"><u>Suggested Crops</u> </h2></b>
           <h4 style="text-align: left; margin-left: 130px;color: rgb(255, 251, 11); "> 
          {% for i in crops %}Crop :  {{i}}<br>{% endfor %}</h4><br>
        </div>
   {% endif %}                                      
                                                                      
   </div>
   </div>

   <!--________________________________________________________________________________________________________________-->
    <br>
    <div style=" width: 75% ; margin-left: 12.5%;">
    <div class="container">
        <h2>Responsive Embed</h2>
        <p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
      </div>
  </div>
  <br><br><br>


<div style=" width: 100%; background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');" >

    <div class="container" style="width: 60%; margin-left:35%;">

        <!--Grid row-->
        <div class="row">

          <div class="col-md-6 mb-4">
                <br><br>
            <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Your email"
                aria-label="Your email" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
              </div>
            </form>
    
          </div>
          <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
      </div>
      <!-- Footer Elements -->
    
 <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container" >
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->

   


    <!-- Copyright -->
    <div class="footer-copyright text-center text-light py-3" style="background-color:black">© 2020 Copyright: All Rights Reserved !!!
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->  

</div>
   
   
      <!-- Optional JavaScript   https://source.unsplash.com/1600x500/?beach -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>